<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>View Order</title>
    <meta charset="UTF-8">
</head>
<body>
<h1>Order Details</h1>
<h3 th:if="${message!=null}" th:text="${message}">Message</h3>
<table>
        <tr>
        <th>owner:</th>
                <td th:text="${entity.owner}"></td>
            </tr>
        <tr>
        <th>orderitems:</th>
                <td>
            <ul>
                <li th:each="orderitems_item : ${entity.orderitems}" th:text="${orderitems_item}"></li>
            </ul>
        </td>
            </tr>
        <tr>
        <th>created:</th>
                <td th:text="${entity.created}"></td>
            </tr>
        <tr>
        <th>status:</th>
                <td th:text="${entity.status}"></td>
            </tr>
    

</table>
<br>
<a th:href="@{/order}">Back to the List</a>
<a th:href="@{/order/edit/{id}(id=${entity.id})}">Edit</a>
<form th:if="${entity.id!=null}" method="get"
         th:action="'/order/'
               + ${entity.id} + '/delete'">
    <input type="submit" value="Delete" onclick="return confirm('Are you sure?')">
</form>
</body>
</html>
