<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Edit Videocard</title>
</head>
<body>
<h1>Edit Videocard</h1>
<h3 th:if="${message != null}" th:text="${message}">Message</h3>
<form th:action="@{/videocard}" th:object="${entity}" method="post">

    <p>
        <label for="processor">processor:</label>
            <input type="text" th:field="*{processor}" id="processor" required>
        </p>
    <p>
        <label for="ram">ram:</label>
            <input type="text" th:field="*{ram}" id="ram" required>
        </p>
    <p>
        <label for="ramType">ramType:</label>
            <input type="text" th:field="*{ramType}" id="ramType" required>
        </p>
    <p>
        <label for="coolerNumber">coolerNumber:</label>
            <input type="text" th:field="*{coolerNumber}" id="coolerNumber" required>
        </p>
    <p>
        <label for="category">category:</label>
            <input type="text" th:field="*{category}" id="category" required>
        </p>

    <p>
        <input type="text" th:field="*{id}" id="id">
        <input type="submit" value="Save">
        <a th:href="@{/videocard}">Cancel</a>
    </p>
</form>

</body>
</html>
