<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<!-- ============================================== HEADER ============================================== -->
<header th:fragment="header" class="header-style-1">
    <div class="main-header">
        <div class="container">
            <div class="row">
                <div class="col-xs-12 col-sm-12 col-md-3 logo-holder">
                    <!-- ============================================================= LOGO ============================================================= -->
                    <div class="logo">
                        <a href="/">
                            <img src="/images/logo.png" alt="">
                        </a>
                    </div><!-- /.logo -->
                    <!-- ============================================================= LOGO : END ============================================================= -->
                </div><!-- /.logo-holder -->

                <div class="col-xs-12 col-sm-12 col-md-6 top-search-holder">
                    <div class="contact-row">
                        <div class="phone inline">
                            <i class="icon fa fa-phone"></i> (400) 888 888 868
                        </div>
                        <div class="contact inline">
                            <i class="icon fa fa-envelope"></i> saler@unicase.com
                        </div>
                    </div><!-- /.contact-row -->
                    <div th:replace="commons/searcharea::searcharea"></div>
                </div><!-- /.top-search-holder -->
                <div class="col-xs-12 col-sm-12 col-md-3 animate-dropdown top-cart-row">
                    <div class="dropdown dropdown-cart"></div>
                </div><!-- /.top-cart-row -->
            </div><!-- /.row -->

        </div><!-- /.container -->

    </div><!-- /.main-header -->

    <div th:replace="commons/navbar::navbar"></div>
</header>

<!-- ============================================== HEADER : END ============================================== -->
</body>
</html>