<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Edit OrderItem</title>
</head>
<body>
<h1>Edit OrderItem</h1>
<h3 th:if="${message != null}" th:text="${message}">Message</h3>
<form th:action="@{/orderItem}" th:object="${entity}" method="post">

    <p>
        <label for="order">order:</label>
            <input type="text" th:field="*{order}" id="order" required>
        </p>
    <p>
        <label for="product">product:</label>
            <input type="text" th:field="*{product}" id="product" required>
        </p>
    <p>
        <label for="count">count:</label>
            <input type="text" th:field="*{count}" id="count" required>
        </p>

    <p>
        <input type="text" th:field="*{id}" id="id">
        <input type="submit" value="Save">
        <a th:href="@{/orderItem}">Cancel</a>
    </p>
</form>

</body>
</html>
