<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>List of OrderItem</title>
    <meta charset="UTF-8">
</head>
<body>
<h1>List of OrderItem</h1>
<h3 th:if="${message != null}" th:text="${message}">Message</h3>
<a th:href="@{/orderItem/edit}">Create new OrderItem</a>
<table>
    <thead>
    <tr>
        <th>order</th>
        <th>product</th>
        <th>count</th>

        <th>Action</th>
    </tr>
    </thead>
    <tbody>
        <tr th:each="entity : ${list}">
                                    <td th:text=${entity.order}></td>
                                            <td th:text=${entity.product}></td>
                                            <td th:text=${entity.count}></td>
                
        <td>
            <a th:href="@{/orderItem/{id}(id=${entity.id})}">See detail</a>
            <a th:href="@{/orderItem/edit/{id}(id=${entity.id})}">Edit</a>
            <form th:if="${entity.id!=null}" method="get"
                  th:action="'/orderItem/'
                  +${entity.id}+'/delete'">
                <input type="submit" value="Delete" onclick="return confirm('Are you sure?')">
            </form>
        </td>
    </tr>
    </tbody>
</table>
</body>
</html>
