<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Edit Processors</title>
</head>
<body>
<h1>Edit Processors</h1>
<h3 th:if="${message != null}" th:text="${message}">Message</h3>
<form th:action="@{/processors}" th:object="${entity}" method="post">

    <p>
        <label for="socket">socket:</label>
            <input type="text" th:field="*{socket}" id="socket" required>
        </p>
    <p>
        <label for="module">module:</label>
            <input type="text" th:field="*{module}" id="module" required>
        </p>
    <p>
        <label for="coreNumber">coreNumber:</label>
            <input type="text" th:field="*{coreNumber}" id="coreNumber" required>
        </p>
    <p>
        <label for="internalGraphic">internalGraphic:</label>
            <input type="text" th:field="*{internalGraphic}" id="internalGraphic" required>
        </p>
    <p>
        <label for="frequency">frequency:</label>
            <input type="text" th:field="*{frequency}" id="frequency" required>
        </p>
    <p>
        <label for="category">category:</label>
            <input type="text" th:field="*{category}" id="category" required>
        </p>

    <p>
        <input type="text" th:field="*{id}" id="id">
        <input type="submit" value="Save">
        <a th:href="@{/processors}">Cancel</a>
    </p>
</form>

</body>
</html>
