<!DOCTYPE html>
<html lang="en">
<head th:replace="~{/commons/head :: head}"></head>
<body class="cnt-home">
<header th:replace="~{/commons/header :: header}"></header>
<div class="breadcrumb">
    <div class="container">
        <div class="breadcrumb-inner">
            <ul class="list-inline list-unstyled">
                <li>
                    <a href="/">Home</a>
                </li>
                <li class='active' th:text="${entity.name}">Samsung Galaxy S4 32GB White</li>
            </ul>
        </div>
        <!-- /.breadcrumb-inner -->
    </div>
    <!-- /.container -->
</div>
<!-- /.breadcrumb -->
<div class="body-content outer-top-xs">
    <div class='container'>
        <div class='row single-product outer-bottom-sm '>
            <div class='col-md-9'>
                <div class="row  wow fadeInUp">
                    <div class="col-xs-12 col-sm-6 col-md-5 gallery-holder">
                        <div class="product-item-holder size-big single-product-gallery small-gallery">
                            <div id="owl-single-product">
                                <div class="single-product-gallery-item" id="slide1">
                                    <div data-lightbox="image-1">
                                        <img class="img-responsive" alt="" src="/images/blank.gif"
                                             th:src="${entity.image}"/>
                                    </div>
                                </div>
                                <!-- /.single-product-gallery-item -->
                            </div>
                        </div>
                    </div>
                    <div class='col-sm-6 col-md-7 product-info-block'>
                        <div class="product-info">
                            <h1 class="name" th:text="${entity.name}">Samsung Galaxy S4 32GB White</h1>
                            <div class="description-container m-t-20" th:text="${entity.shortDescription}"> Suspendisse
                                posuere arcu diam, id accumsan eros pharetra ac. Nulla enim risus, facilisis bibendum
                            </div>
                            <!-- /.description-container -->
                            <div class="price-container info-container m-t-20">
                                <div class="row">
                                    <div class="col-sm-6">
                                        <div class="price-box">
                                            <span class="price" th:text="'$'+${entity.price}">$800.00</span>
                                        </div>
                                    </div>
                                </div>
                                <!-- /.row -->
                            </div>
                            <!-- /.price-container -->
                            <form class="w-50 text-center py-2"
                                  th:if="${#request.userPrincipal != null}"
                                  th:action="'/order/addProduct/'+${entity.id}"
                                  method="get">

                                <div class="quantity-container info-container">
                                    <div class="row">
                                        <div class="col-sm-2">
                                            <span class="label">Qty :</span>
                                        </div>
                                        <div class="col-sm-2">
                                            <div class="cart-quantity">
                                                <div class="quant-input">
                                                    <div class="arrows">
                                                        <div class="arrow plus gradient">
                                                    <span class="ir">
                                                      <i class="icon fa fa-sort-asc"></i>
                                                    </span>
                                                        </div>
                                                        <div class="arrow minus gradient">
                                                    <span class="ir">
                                                      <i class="icon fa fa-sort-desc"></i>
                                                    </span>
                                                        </div>
                                                    </div>
                                                    <input type="text" value="1" min="1" name="count" required>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-sm-7">
                                            <button class="btn btn-primary" type="submit">
                                                <i class="fa fa-shopping-cart inner-right-vs"></i> ADD TO CART
                                            </button>
                                            <a class="btn btn-primary"
                                               th:if="${#request.isUserInRole('ADMIN') or #request.isUserInRole('MANAGER') }"
                                               th:href="@{/product/edit/{id}(id=${entity.id})}">Edit Product</a>
                                            <a class="btn btn-danger"
                                               th:if="${#request.isUserInRole('ADMIN') or #request.isUserInRole('MANAGER') }"
                                               th:href="@{/product/{id}/delete(id=${entity.id})}">Delete Product</a>
                                        </div>
                                    </div>
                                    <!-- /.row -->
                                </div>
                                <!-- /.quantity-container -->

                            </form>

                        </div>
                        <!-- /.product-info -->
                    </div>
                    <!-- /.col-sm-7 -->
                </div>
                <div class="product-tabs inner-bottom-xs  wow fadeInUp">
                    <div class="row">
                        <div class="col-sm-3">
                            <ul id="product-tabs" class="nav nav-tabs nav-tab-cell">
                                <li class="active">
                                    <a data-toggle="tab" href="#description">DESCRIPTION</a>
                                </li>
                                <li>
                                    <a data-toggle="tab" href="#review">COMMENTS</a>
                                </li>
                            </ul>
                            <!-- /.nav-tabs #product-tabs -->
                        </div>
                        <br>
                        <br>
                        <br>
                        <br>
                        <br>
                        <br>
                        <div class="col">
                            <div class="tab-content">
                                <div id="description" class="tab-pane in active">
                                    <div class="product-tab">
                                        <p class="text" th:utext="${entity.description}">Suspendisse posuere arcu diam,
                                            id accumsan eros pharetra ac. Nulla enim risus, facilisis bibendum gravida
                                        <p>
                                    </div>
                                </div>
                                <!-- /.tab-pane -->
                                <div id="review" class="tab-pane">
                                    <div class="product-tab">
                                        <div class="product-reviews">
                                            <h4 class="title">Customer comments</h4>
                                            <div class="reviews">
                                                <div class="review" th:each="comments_item : ${entity.comments}">
                                                    <div class="review-title">
                                                        <span class="date">
                                                          <i class="fa fa-calendar"></i>
                                                          <span th:text="${comments_item.creationDate}">20 minutes ago</span>
                                                        </span>
                                                    </div>
                                                    <div class="text" th:text="${comments_item.message}">"Lorem ipsum
                                                        dolor sit amet, consectetur adipiscing elit.Aliquam suscipit
                                                        nisl in adipiscin"
                                                    </div>
                                                    <div class="author m-t-15">
                                                        <span class="name" th:text="${comments_item.owner.username}">Michael Lee</span>
                                                    </div>
                                                </div>
                                            </div>
                                            <!-- /.reviews -->
                                        </div>
                                        <!-- /.product-reviews -->
                                        <div class="product-add-review"  th:if="${#request.userPrincipal != null}">
                                            <h4 class="title">Write your own comment</h4>
                                            <div class="review-form">
                                                <div class="form-container">
                                                    <form role="form" class="cnt-form" method="post" action="/comment">
                                                        <div class="row">
                                                            <div class="col">
                                                                <div class="form-group">
                                                                    <label for="exampleInputReview">Comment <span
                                                                            class="astk">*</span>
                                                                    </label>
                                                                    <textarea class="form-control txt txt-review"
                                                                              id="exampleInputReview" rows="4" name="message"
                                                                              placeholder=""></textarea>
                                                                    <input type="text" th:value="${entity.id}" name="productId" id="productId" hidden>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="action text-right">
                                                            <button class="btn btn-primary btn-upper">SUBMIT COMMENT
                                                            </button>
                                                        </div>
                                                    </form>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="clearfix"></div>
        </div>
        <!-- /.row -->
        <div th:replace="~{/commons/brand :: brand}"></div>
    </div>
    <!-- /.container -->
</div>
<!-- /.body-content -->
<div th:replace="commons/footer::footer"></div>
</body>
</html>