<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>View Product</title>
    <meta charset="UTF-8">
</head>
<body>
<h1>Product Details</h1>
<h3 th:if="${message!=null}" th:text="${message}">Message</h3>
<table>
        <tr>
        <th>name:</th>
                <td th:text="${entity.name}"></td>
            </tr>
        <tr>
        <th>description:</th>
                <td th:text="${entity.description}"></td>
            </tr>
        <tr>
        <th>image:</th>
                <td th:text="${entity.image}"></td>
            </tr>
        <tr>
        <th>price:</th>
                <td th:text="${entity.price}"></td>
            </tr>
        <tr>
        <th>comments:</th>
                <td>
            <ul>
                <li th:each="comments_item : ${entity.comments}" th:text="${comments_item}"></li>
            </ul>
        </td>
            </tr>
        <tr>
        <th>deleted:</th>
                <td th:text="${entity.deleted}"></td>
            </tr>
    

</table>
<br>
<a th:href="@{/product}">Back to the List</a>
<a th:href="@{/product/edit/{id}(id=${entity.id})}">Edit</a>
<form th:if="${entity.id!=null}" method="get"
         th:action="'/product/'
               + ${entity.id} + '/delete'">
    <input type="submit" value="Delete" onclick="return confirm('Are you sure?')">
</form>
</body>
</html>
