<!DOCTYPE html>
<html lang="en">
<head th:replace="~{/commons/head :: head}"></head>
<body class="cnt-home">
<div th:replace="~{/commons/header :: header}"></div>

<div class="breadcrumb">
    <div class="container">
        <div class="breadcrumb-inner">
            <ul class="list-inline list-unstyled">
                <li>
                    <a href="#">Home</a>
                </li>
                <li class='active'>Products</li>
            </ul>
        </div>
    </div>
</div>
<div class="breadcrumb">
    <div class="container">
        <div class="row">
        <div class="col">
            <a class="btn btn-primary"
               th:if="${#request.isUserInRole('ADMIN') or #request.isUserInRole('MANAGER') }"
               href="/product/edit">Add Product</a>
        </div>
        </div>
    </div>
</div>

<div class="body-content outer-top-xs">
    <div class='container'>
        <div class='row outer-bottom-sm'>
            <div class='col-md-3 sidebar'>
                <!-- ================================== TOP NAVIGATION ================================== -->
                <div class="side-menu animate-dropdown outer-bottom-xs">
                    <div class="head">
                        <i class="icon fa fa-align-justify fa-fw"></i> Categories
                    </div>
                    <nav class="yamm megamenu-horizontal" role="navigation">
                        <ul class="nav">
                            <li class="dropdown menu-item">
                                <a href="/product/filter/MOTHER_BOARD" class="dropdown-toggle"> MotherBoards </a>
                            </li>
                            <li class="dropdown menu-item">
                                <a href="/product/filter/PERIFERIA" class="dropdown-toggle"> Periferia </a>
                            </li>
                            <li class="dropdown menu-item">
                                <a href="/product/filter/PROCESSOR" class="dropdown-toggle"> Processors </a>
                            </li>
                            <li class="dropdown menu-item">
                                <a href="/product/filter/RAM" class="dropdown-toggle"> Ram </a>
                            </li>
                            <li class="dropdown menu-item">
                                <a href="/product/filter/SDD_HDD" class="dropdown-toggle"> SSD/HDD </a>
                            </li>
                            <li class="dropdown menu-item">
                                <a href="/product/filter/VIDEOCARD" class="dropdown-toggle"> Videocards </a>
                            </li>
                            <!-- /.menu-item -->
                        </ul>
                        <!-- /.nav -->
                    </nav>
                    <!-- /.megamenu-horizontal -->
                </div>
            </div>
            <!-- /.sidebar -->
            <div class='col-md-9'>
                <div class="search-result-container">
                    <div id="myTabContent" class="tab-content">
                        <div class="tab-pane active " id="grid-container">
                            <div class="category-product  inner-top-vs">
                                <div class="row">
                                    <div class="col-sm-6 col-md-4 wow fadeInUp" th:each="entity:${list}">
                                        <div class="products">
                                            <div class="product">
                                                <div class="product-image">
                                                    <div class="image">
                                                        <a th:href="'/product/'+${entity.id}">
                                                            <img src="/images/blank.gif" th:src="${entity.image}" style="width: 100%">
                                                        </a>
                                                    </div>
                                                </div>
                                                <!-- /.product-image -->
                                                <div class="product-info text-left">
                                                    <h3 class="name">
                                                        <a href="detail" th:text="${entity.name}">Sony Ericson Vaga</a>
                                                    </h3>
                                                    <div class="description"></div>
                                                    <div class="product-price">
                                                        <span class="price" th:text="'$'+${entity.price}"> $650.99 </span>
                                                    </div>
                                                    <!-- /.product-price -->
                                                </div>
                                                <!-- /.product-info -->
                                                <div class="cart clearfix animate-effect">
                                                    <div class="action">
                                                        <ul class="list-unstyled">
                                                            <li class="add-cart-button btn-group">
                                                                <button class="btn btn-primary icon"
                                                                        data-toggle="dropdown" type="button">
                                                                    <i class="fa fa-shopping-cart"></i>
                                                                </button>
                                                                <a th:href="'/product/'+${entity.id}" class="btn btn-primary" type="button">Add to
                                                                    cart
                                                                </a>
                                                            </li>
                                                        </ul>
                                                    </div>
                                                    <!-- /.action -->
                                                </div>
                                                <!-- /.cart -->
                                            </div>
                                            <!-- /.product -->
                                        </div>
                                        <!-- /.products -->
                                    </div>
                                </div>
                                <!-- /.row -->
                            </div>
                            <!-- /.category-product -->
                        </div>
                    </div>
                </div>
                <!-- /.search-result-container -->
            </div>
            <!-- /.col -->
        </div>
        <!-- /.row -->
        <div th:replace="~{/commons/brand :: brand}"></div>
    </div>
    <!-- /.container -->
</div>
<!-- /.body-content -->
<div th:replace="commons/footer::footer"></div>
</body>
</html>