<!DOCTYPE html>
<html lang="en">
<head th:replace="~{/commons/head :: head}"></head>
<body class="cnt-home">
<div th:replace="~{/commons/header :: header}"></div>
<div class="breadcrumb">
    <div class="container">
        <div class="breadcrumb-inner">
            <ul class="list-inline list-unstyled">
                <li>
                    <a href="/">Home</a>
                </li>
                <li class='active'>Add Product</li>
            </ul>
        </div>
    </div>
</div>
<div class="body-content outer-top-bd">
    <div class="container">
        <div class="sign-in-page inner-bottom-sm">
            <div class="row">
                <div class="col-md-12">
                    <h4 class="">Add New Product</h4>
                    <form class="register-form outer-top-xs" role="form" method="post" action="/product"  th:object="${entity}">
                        <div class="form-group">
                            <label class="info-title" for="name">Product Name <span>*</span></label>
                            <input type="text" class="form-control unicase-form-control text-input"  th:field="*{name}" id="name" name="name" required>
                        </div>
                        <div class="form-group">
                            <label class="info-title" for="shortDescription">Short Description <span>*</span></label>
                            <textarea class="form-control unicase-form-control text-input"  th:field="*{shortDescription}" id="shortDescription" name="shortDescription" rows="3" required></textarea>
                        </div>
                        <div class="form-group">
                            <div class="newsItemField">
                                <label>Текст</label>
                                <div id="richTextEditor" class="richTextEditor">
                                    <script type="text/javascript">
                                        tinymce.init({
                                            selector: '#mytextarea'
                                        });
                                    </script>
                                    <textarea id="editor" name="description" th:utext="${entity.description}">
                              Hello, World!
                            </textarea>
                                    <input type="submit" value="Сохранить" class="myButton">
                                    <script>
                                        tinymce
                                            .init({
                                                selector: '#editor',
                                                plugins: 'image code',
                                                toolbar: 'undo redo | link image | code',
                                                image_title: true,
                                                automatic_uploads: true,
                                                tinycomments_author: 'Yauhescha',
                                                file_picker_types: 'image',
                                                file_picker_callback: function (cb, value, meta) {
                                                    var input = document.createElement('input');
                                                    input.setAttribute('type', 'file');
                                                    input.setAttribute('accept', 'image/*');

                                                    input.onchange = function () {
                                                        var file = this.files[0];

                                                        var reader = new FileReader();
                                                        reader.onload = function () {
                                                            var id = 'blobid' + (new Date()).getTime();
                                                            var blobCache = tinymce.activeEditor.editorUpload.blobCache;
                                                            var base64 = reader.result.split(',')[1];
                                                            var blobInfo = blobCache.create(id, file,
                                                                base64);
                                                            blobCache.add(blobInfo);

                                                            cb(blobInfo.blobUri(), {
                                                                title: file.name
                                                            });
                                                        };
                                                        reader.readAsDataURL(file);
                                                    };

                                                    input.click();
                                                },
                                                content_style: 'body { font-family:Helvetica,Arial,sans-serif; font-size:14px }'
                                            });
                                    </script>
                                </div>
                            </div></div>
                        <div class="form-group">
                            <label class="info-title" for="image">Image URL <span>*</span></label>
                            <input type="text" class="form-control unicase-form-control text-input"  th:field="*{image}" id="image" name="image" required>
                        </div>
                        <div class="form-group">
                            <label class="info-title" for="price">Price <span>*</span></label>
                            <input type="number" step="0.01" class="form-control unicase-form-control text-input" th:field="*{price}"  id="price" name="price" min="0.01" required>
                        </div>
                        <div class="form-group">
                            <label class="info-title" for="category">Category <span>*</span></label>
                            <select class="form-control unicase-form-control text-input" id="category" name="category" required>
                                <option value="PROCESSOR">Processor</option>
                                <option value="MOTHER_BOARD">Motherboard</option>
                                <option value="RAM">RAM</option>
                                <option value="SDD_HDD">SDD/HDD</option>
                                <option value="VIDEOCARD">Videocard</option>
                                <option value="PERIFERIA">Periferia</option>
                            </select>
                        </div>
                                <input type="text" th:field="*{id}" id="id" hidden>
                        <button type="submit" class="btn-upper btn btn-primary checkout-page-button">Add Product</button>
                    </form>
                </div>
            </div>
        </div>
        <div th:replace="~{/commons/brand :: brand}"></div>
    </div>
</div>
<div th:replace="commons/footer::footer"></div>
</body>
</html>
