<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>List of SddHdd</title>
    <meta charset="UTF-8">
</head>
<body>
<h1>List of SddHdd</h1>
<h3 th:if="${message != null}" th:text="${message}">Message</h3>
<a th:href="@{/sddHdd/edit}">Create new SddHdd</a>
<table>
    <thead>
    <tr>
        <th>volume</th>
        <th>formFactor</th>
        <th>readSpeed</th>
        <th>writeSpeed</th>
        <th>category</th>

        <th>Action</th>
    </tr>
    </thead>
    <tbody>
        <tr th:each="entity : ${list}">
                                    <td th:text=${entity.volume}></td>
                                            <td th:text=${entity.formFactor}></td>
                                            <td th:text=${entity.readSpeed}></td>
                                            <td th:text=${entity.writeSpeed}></td>
                                            <td th:text=${entity.category}></td>
                
        <td>
            <a th:href="@{/sddHdd/{id}(id=${entity.id})}">See detail</a>
            <a th:href="@{/sddHdd/edit/{id}(id=${entity.id})}">Edit</a>
            <form th:if="${entity.id!=null}" method="get"
                  th:action="'/sddHdd/'
                  +${entity.id}+'/delete'">
                <input type="submit" value="Delete" onclick="return confirm('Are you sure?')">
            </form>
        </td>
    </tr>
    </tbody>
</table>
</body>
</html>
