<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>List of Videocard</title>
    <meta charset="UTF-8">
</head>
<body>
<h1>List of Videocard</h1>
<h3 th:if="${message != null}" th:text="${message}">Message</h3>
<a th:href="@{/videocard/edit}">Create new Videocard</a>
<table>
    <thead>
    <tr>
        <th>processor</th>
        <th>ram</th>
        <th>ramType</th>
        <th>coolerNumber</th>
        <th>category</th>

        <th>Action</th>
    </tr>
    </thead>
    <tbody>
        <tr th:each="entity : ${list}">
                                    <td th:text=${entity.processor}></td>
                                            <td th:text=${entity.ram}></td>
                                            <td th:text=${entity.ramType}></td>
                                            <td th:text=${entity.coolerNumber}></td>
                                            <td th:text=${entity.category}></td>
                
        <td>
            <a th:href="@{/videocard/{id}(id=${entity.id})}">See detail</a>
            <a th:href="@{/videocard/edit/{id}(id=${entity.id})}">Edit</a>
            <form th:if="${entity.id!=null}" method="get"
                  th:action="'/videocard/'
                  +${entity.id}+'/delete'">
                <input type="submit" value="Delete" onclick="return confirm('Are you sure?')">
            </form>
        </td>
    </tr>
    </tbody>
</table>
</body>
</html>
